<!--vista agregar-->
<div class="container" style="margin-top:10px">
    <div class="row" >
        <div class="col">
            <h4>Agregar servicio</h4>
            <p><b>Nota:</b>El servicio elegido aparecerá en la página pero quedara pendiente hasta realizar el contrato  </p>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data"/>
                
                <div class="mb-3-row">
                        <label for="Servicio" style="font-size: 1.5em;" > <b>Servicio</b></label>
                        <input type="text" class="form-control" placeholder="Servicio" name="Servicio">
                    
                </div>
                <div class="mb-3" style="margin-top:10px">
                        <label for="Plazo" style="font-size: 1.5em;" > <b>Plazo</b></label>
                        <input type="text" class="form-control" placeholder="Plazo" name="Plazo">
                    
                </div>
                <div class="mb-3" style="margin-top:10px">
                        <label style="font-size: 1.5em;" > <b>Imagen</b>
                        <input type="file" name="imagen" id="imagen"/></label>
                    
                </div>
                <div class="mb-3" style="margin-top:10px">
                        <label for="Descripcion" style="font-size: 1.5em;" > <b>Descripción</b></label>
                        <textarea type="text" class="form-control" placeholder="Descripcion: Incorporar nombre del equipo, ubicacion" name="Descripcion"></textarea>
                    
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top:10px">Guardar</button>
            </form>
            {{#if error}}
                <p> {{message}} </p>
            {{/if}}
        </div>
    </div>        
</div>