#galeria p{
    margin-top: 5px;
}
#galeria .foto{
    display: inline-block;
    width: 22%;
    margin: 0.5em 0 0.5em 1%;
    border: solid #dddd;
    padding: 0.2em;
    box-sizing: border-box;
}

#galeria .foto img{
    display: block;
    width: 100%;
}
#galeria h4 {
    text-align: center;
    margin: 5px 0;
    box-sizing: content-box;
}

#galeria .ascensor {
    overflow: hidden;
    border-radius: 5px;
    border-top: solid;
    padding: 20px 0;
}
#galeria .ascensor .left {
    float: left;
    width: 50%;
}
#galeria .carousel{
    float: right;
    width: 40%;
}

#galeria .carousel-inner{
    box-shadow: 5px -4px 4px 1px #b3c8cb;
}

#galeria .carousel-indicators [data-bs-target] {
    background-color:  #00bcd4;
}

#galeria .carousel-control-next, .carousel-control-prev {
    background-color:  #93d1d9;
}

.carousel-indicators [data-bs-target] {
    transition: opacity 0.3s ease;
}

@media (max-width:470px) {
    #galeria .carousel-indicators {
        margin-bottom: 0;
    }
    #galeria .ascensor .left {
        float: none;
        width: 100%;
        text-align: center;
    }
    #galeria .carousel{
        float: none;
        width: 50%;
        margin-left: 25%;
    }
  
}
