.holder{
    margin:0 8px 0 8px;
}

#empresa img{
    margin-top: 10px;
    width: 100%;
}

#empresa p{
    text-align: justify;
}
.formato{
    margin: 20px 5%;
} 

#empresa .eleccion{
    line-height: 30px; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 0 ;
}   

.eleccion h3{
    margin-bottom: 10px;
}   

.accordion-button:not(.collapsed) {
    background-color: black;
}

.accordion-button:focus {
    box-shadow:none;
}

#empresa .row{
    padding-top: 30px;
    text-align: justify;
    text-align: -webkit-center;
}

#empresa .card{
    max-width: 300px;
    margin-bottom: 15px;
    border: solid steelblue 0.3px;
    padding: inherit;
    box-shadow: 20px 0 15px black;
    transition: all 2s ease;
}

#empresa .card h5{
    text-align: center;
}

#empresa .card:hover{
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.05, 1);
}

@media  (max-width:590px) {
    #empresa .row{
        font-size: 0.9em;  
    }

    #empresa .accordion-button{
        font-size: 14px;
    }

    #empresa .accordion-body{
        font-size: 14px;
    }
    
    #empresa .card-text {
        font-size: 14px;
    }
  
}

@media  (max-width:390px) {
    #empresa .row{
        font-size: 0.7em;  
    }

    #empresa .accordion-button{
        font-size: 12px;
    }

    #empresa .accordion-body{
        font-size: 12px;
    }
    
    #empresa .card-text {
        font-size: 1.2em;
    }   
}