#nosotros h3{
    margin-bottom: 1px;
    margin-top: 0;
    font-size: 1.4em;
}

#nosotros .descripcion{  
    text-align: justify;
}

#nosotros .descripcion img{
    margin: 15px ;
    max-width: 100%; 
    align-items: center;
    display: flex;
}


#nosotros .container {
    align-items: center;
	justify-content: center;
    display: flex;
    
 }

 @-webkit-keyframes scroll {
    0%{
       -webkit-transform: translateX(calc(-100%*0));
       transform: translateX(calc(-100%*0));
   }
   100%{
       -webkit-transform: translateX(calc(-30%*3));
       transform: translateX(calc(-30%*3));
   }
}

 @keyframes scroll {
     0%{
        -webkit-transform: translateX(calc(-100%*0));
        transform: translateX(calc(-100%*0));
    }
	100%{
        -webkit-transform: translateX(calc(-30%*3));
        transform: translateX(calc(-30%*3));
    }
}

 #nosotros .slider .personas {
    -webkit-animation: scroll 10s linear infinite ;
    animation: scroll 10s linear infinite ;
    display: flex;
	width: calc(30%*6);    
    
}

#nosotros .persona{
    margin-left: 1%;
    border: grey solid 1px;
    border-radius: 0.25em;
    box-sizing: border-box;
    text-align: center;
    max-width: 30%;    
}


#nosotros .persona img{
    border-radius: 50%;
    margin: 0.8em;  
    max-width: 90%; 
}

#nosotros .persona h5, 
#nosotros .persona h6{
    margin: 0;
    font-size: 1.1em;
}
#nosotros .persona p{
    margin: 5px;
    font-size: 0.83em;
}

#nosotros .slider {
	background: white;
	box-shadow: 8px -9px 9px 0px rgb(0 0 0 / 13%);
	margin: auto;
	overflow:hidden;
	position: relative;
    width: 95% ;
}

#nosotros .slider::before,
#nosotros .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
		content: "";
		
		position: absolute;
		width: 20%;
		z-index: 2;
	}

#nosotros .personas::after {
		right: 0;
		top: 0;
	-webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
}

	#nosotros .slider::before {
		left: 0;
		top: 0;
	}    
 
@media  (max-width:590px) {
     h3{
        font-size: 1.2em;
    }   

    #nosotros p{
        font-size: 0.83em;
    }   
}

@media (max-width:390px) {
     h3{
        font-size: 1em;
    }   

    #nosotros p{
        font-size: 0.73em;
    }    
    #nosotros .persona h5{
        font-size: 0.83em;
    }    
    #nosotros .persona h6{
        font-size: 0.76em;
    }    
}
