#nosotros h2 {
    margin-bottom: 1px;
    margin-top: 0;
}

#nosotros .staff h2{
    text-align: center;
    margin-bottom: 25px;
}

#nosotros .descripcion {
    text-align: justify;
}

#nosotros .descripcion img {
    margin: 15px 0;
    width: 100%;
    align-items: center;
    display: flex;
}

#nosotros .pic {
    margin-left: 1%;
    border: grey solid 1px;
    border-radius: 0.25em;
    box-sizing: border-box;
    text-align: center;
    max-width: 210px;
    background-color: white;
    box-shadow: 8px -7px 14px 3px #98c1c7;
}


#nosotros .pic img {
    border-radius: 50%;
    margin: 0.8em;
    max-width: 90%;
}

#nosotros .pic h5,
#nosotros .pic h6 {
    margin: 0;
    font-size: 1.1em;
}

#nosotros .pic p {
    margin: 5px;
    font-size: 0.83em;
}

#nosotros .pic-ctn {
    width: 100vw;
    height: 200px;
}

@keyframes ani {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-300px);
        opacity: 0;
    }

    100% {
        transform: translateX(-300px);
        opacity: 0;
    }
}

#nosotros .pic-ctn {
    position: relative;
    width: 100vw;
    height: 310px;
    margin-top: 10px;
}

#nosotros .pic-ctn>.pic {
    position: absolute;
    top: 0;
    left: calc(50% - 150px);
    opacity: 0;
    animation: ani 12.5s infinite;
}

#nosotros .pic:nth-child(2) {
    animation-delay: 2.5s;
}

#nosotros .pic:nth-child(3) {
    animation-delay: 5s;
}

#nosotros .pic:nth-child(4) {
    animation-delay: 7.5s;
}

#nosotros .pic:nth-child(5) {
    animation-delay: 10s;
}


@media (max-width:590px) {
    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.85em;
    }
    #nosotros .pic p {
        font-size: 0.85em;
    }
}

@media (max-width:390px) {
    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.78em;
    }
    #nosotros .pic p {
        font-size: 0.78em;
    }

    #nosotros .pic {
        max-width: 160px;
    }
    #nosotros .pic h5,
    #nosotros .pic h6 {
        font-size: 0.9em;
    }
    #nosotros .pic img {
        max-width: 70%;
    }

    #nosotros .pic-ctn>.pic {
        left: calc(50% - 105px);
    }
}

@media (min-width:900px) {
    #nosotros h3 {
        font-size: 1.5em;
    }

    
    #nosotros .pic {
        max-width: 250px;
    }
    #nosotros .pic h5,
    #nosotros .pic h6 {
        font-size: 1.2em;
    }
    #nosotros .pic img {
        max-width: 90%;
    }
}