nav{
    background:#bef6e9;
}

nav ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
   align-items: center; 
   padding: 5px 0 0px 0px;
}

nav ul li{
    width: 17%;
    text-align: center;
    border: #c5ddd7 solid 1px;
    border-bottom: none;
    height: 30px;
    display: flex;
    font-size: 16px;
}

nav ul li a{
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li:hover {
    color: rgba(0,0,0,0.3);
    background-color: #edf1f0;
}

nav ul li a.activo {
    background-color: #edf1f0;
}

@media  (max-width:590px) {
    nav ul li{
        font-size: 10px;
    }   

}

@media (max-width:390px) {
    nav ul li{
        font-size: 0.5em;
        
    }   
}