#novedades h2{
    margin-top: 35px;
    text-align: left;
}

#novedades h3{
    margin-bottom: 0;
    margin-top: 10px;
    width: 90%;
    float: left;
}

#novedades h4{
    width: 85%;
    float: left
}

#novedades p{
    margin-top: 0;
    text-align: justify;
}

#novedades .col-3{
    text-align: right;
}

#novedades img.nov1{
    width: 85%;
    margin: 20px 0 10px 0px;
}


#novedades .imgNov{
width: 10%;
    float: right;
    position: absolute;
}

.descripNov {
    width: 80%;
}

@media (max-width:590px) {
    h4{
       font-size: 1.3em;
   }    
   h5{
    font-size: 1.1em;
    }    
    #novedades .imgNov{
        width: 15%
    }  
}

@media (max-width:390px) {
    h4{
       font-size: 1.1em;
   }    
   h5{
    font-size: 0.9em;
    }  
    #novedades .imgNov{
        width: 20%
    }      
}
