#novedades h3{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

#novedades img.nov1{
    width: 100%;
    margin: 20px 0 10px 0px;
}

#novedades .imgNov{
    width: 70%;
}

#novedades th.col-3{
    text-align: center;
}

#novedades td#serv.col-1{
    font-size: 16px;
    color: rgb(18, 126, 161);
    font-weight: 700;
}

#novedades td.col-3{
    text-align: center;
}

@media (max-width:700px) {
    .descripNov{
       font-size: 12px;
    }    
   #novedades .imgNov{
    width: 100%;
    }
    #novedades td#serv.col-1{
        font-size: 14px;
    } 
}

@media (max-width:500px) {
    .descripNov{
        font-size: 10px;
    }
    #novedades tbody tr{
        display: grid;
    grid-template-columns: 75% 25%;
    }
    #novedades tbody td{
        width: 100%;
    }

    tr.table-secondary {
        display: none;
    }
      
}
